body {
  background-color: #2b2b2b;
  color: rgb(214, 214, 214);
  max-width: 900px;
  margin: 0 auto;
}

#wrapper {
  background-color: #3f3f3f;
  padding: 60px;
  border-radius: 20px;
  height:  250px;
  margin-top: 10px;
}

#logo {
  display: block;
  margin: 0 auto;
/* margin: 0 auto で中央寄せ */

}

#title{
  text-align: center;
  font-size: 15px;
  font-weight:bolder;
}


#startBtn{
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif
}